<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<section class="content">
  <div class="column">
    <h3>Embed Tweet</h3>
    <div class="column-head">
      <div>
        <span>Expand links </span>
        <select [(ngModel)]="cards">
          <option [value]="'show'">Yes</option>
          <option [value]="'hidden'">No</option>
        </select>
      </div>

      <div>
        <span>Theme </span>
        <select [(ngModel)]="tweetTheme">
          <option [value]="'light'">Light</option>
          <option [value]="'dark'">Dark</option>
        </select>
      </div>
    </div>

    <h2 *ngIf="isLoadingTweet">Loading Tweet...</h2>
    <lib-ngx-tweet [tweetId]="'1309205362776498176'"
                   [tweetOptions]="{theme: tweetTheme, cards: cards, width: 300}"
                   (loading)="onLoadingTweetChanged($event)"
    ></lib-ngx-tweet>
  </div>

  <div class="column">
    <h3>Embed Timeline</h3>
    <div class="column-head">
      <div>
        <span>Tweet limit </span>
        <select [(ngModel)]="timelineLimit">
          <option [value]="3">3</option>
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>
      </div>

      <div>
        <span>Theme </span>
        <select [(ngModel)]="timelineTheme">
          <option [value]="'light'">Light</option>
          <option [value]="'dark'">Dark</option>
        </select>
      </div>

      <div>
        <span>Load private profile </span>
        <select [(ngModel)]="profile">
          <option [value]="'https://twitter.com/LittleOtter1'">Yes</option>
          <option [value]="'https://twitter.com/TwitterDev'">No</option>
        </select>
      </div>
    </div>

    <h2 *ngIf="timelineError">Can't load timeline</h2>
    <h2 *ngIf="isLoadingTimeline">Loading Timeline...</h2>
    <lib-ngx-twitter-timeline
      [data]="{
      sourceType: 'profile',
      url: profile
      }"
      [opts]="{
      theme: timelineTheme,
      tweetLimit: timelineLimit,
      height: 300
      }"
      (loading)="onLoadingTimelineChanged($event)"
      (error)="onTimelineError()"
    >
    </lib-ngx-twitter-timeline>
  </div>

  <div class="column">
    <h3>Embed Follow Btn</h3>
    <div class="column-head">
      <div>
        <span>Show screen name </span>
        <select [(ngModel)]="showScreenName">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <span>Show count </span>
        <select [(ngModel)]="showCount">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
    </div>

    <h2 *ngIf="isLoadingFollowBtn">Loading Follow Btn...</h2>
    <lib-ngx-follow-btn
      [username]="'twitterdev'"
      [options]="{
        showScreenName: showScreenName,
        showCount: showCount,
        size: 'large'
      }"
      (loading)="onLoadingFollowBtn($event)"
    ></lib-ngx-follow-btn>
  </div>

  <div class="column">
    <h3>Embed Follow Btn</h3>
    <div class="column-head">
      <div>
        <span>Button size </span>
        <select [(ngModel)]="tweetBtnSize">
          <option [value]="'large'">Large</option>
          <option [value]="'small'">Small</option>
        </select>
      </div>
    </div>

    <h2 *ngIf="isLoadingTweetBtn">Loading Tweet Btn...</h2>
    <lib-ngx-tweet-btn
      [url]="'https://twitter.com/intent/tweet'"
      [options]="{
        text: 'custom share text',
        hashtags: ['example','demo'],
        via: 'twitterdev',
        size: tweetBtnSize
      }"
      (loading)="loadTweetBtn($event)">
    </lib-ngx-tweet-btn>
  </div>
</section>

